.title {
   font-size: 18px;
   color:#fff;
}

.main {
   flex:1;
   width:100%;
   background-color:#e0e0e0;
}

.container {
   margin:40px;
   display: flex;
   flex-direction: column;
}

.container > * {
   margin:10px;
   min-width:120px;
   width:fit-content;
}

.container > button.iconOnly {
   width:34px;
   height:34px;
}

.leftView {
   background:#d0d0d0;
}

.rightView {
   background: yellowgreen;
}

.bottomView {
   background:#fff;
}

.listContainer {
   width:300px;
   height:300px;
   margin:50px;
}

.listItem {
   padding:8px;

}

.listItem:hover {
   background:#f0f0f0;
}


