

.ToolBar {
    height: 46px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    box-sizing: border-box;
    background-color: #2a6dae;
    border-color: #21588e;
    color: #fafafa;
}

.ToolBar > * {
    margin:0 6px;
}

.ToolBar .ToolBarDivider {
    display: inline-block;
    height: 32px;
    width: 1px;
    padding: 3px 0 3px 0;
    margin: 0 6px 0 6px;
    border-left: 1px solid transparent;
    box-sizing: border-box;
}

