
.Button {
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    background: none;
    height: 34px;
    position: relative;
    line-height: 100%;
    transition: background-color 0.1s, color 0.1s, opacity 0.1s;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 14px 0 10px;
}

.Button > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Button .label {
    flex: 1;
    pointer-events: none;
}

.Button.disabled {
    opacity: var(--opacity-disable);
    cursor:default !important;
}

.Button.disabled .icon,
.Button.disabled .label {
    opacity: var(--opacity-disable);
}

.Button .icon {
    font-size: 21px;
    margin-right:5px;
}

.iconOnly > div {
    justify-content: center;
}

.Button:focus {
    outline: var(--focus-outline);
}

.Button.default {
    background-color: #f5f5f5;
    border: 1px solid #d5d9dd;
    color: #4f4f4f;
}

.Button.default.active {
    background-color: #ddd;
}

.Button.default:not(.active):not(.disabled):hover {
    background-color: #e9e9ea;
}

.Button.primary {
    background-color:var(--accent-color);
    border: 1px solid var(--accent-color-darker);
    color: #fff;
}

.Button.primary.active {
    background-color: var(--accent-color-darker);
}

.Button.primary:not(.active):not(.disabled):hover {
    background-color:  var(--accent-color-lighter);
}

.Button.link {
    background-color: transparent;
    border: none;
    color: #4f8ee5;
    cursor: pointer;
}

.Button.link:not(.disabled) > * {
    cursor: pointer;
}

.Button.link:not(.disabled):hover {
    text-decoration: underline;
}

.Button.link.active {
    background-color: #e9e9ea;
}

.Button.link:not(.disabled):not(.active):hover {
    background-color: #f1f1f3;
}

.Button.noIcon {
    padding: 0 20px;
}

.Button.iconOnly {
    padding: 0 5px;
    min-width: 34px;
    min-height: 34px;
}

.Button.iconOnly .icon {
    margin:0;
    font-size:23px;
}
